.App {
    text-align: center;
}

.srgargrae {
}

.map {
    display: inline-block;
    margin: 20px auto;
}

.row {
    display: flex;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.cell:hover {
    background-color: lightgreen;
}

.cell.plant {
    animation: grow 1s ease-in-out forwards;
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

h1 {
    color: #2c6b2c;
}

h2 {
    color: #2c6b2c;
    margin-top: 0;
}
